{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Se Connecter {% endblock %}


{% block body %}
        <div class="container mt-4">

            {% if errors %}
                <div class="alert alert-danger">
                    {{ errors.messageKey| trans(errors.messageData, 'security') }}
                </div>
            {% endif %}
            <form action="{{ path('login') }}" method="post">
                <div class="form-group">
                    <label for="username">Nom d'utilisateur</label>
                    <input type="text" id="username" name="_username" class="form-control" value="">
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" id="password" name="_password" class="form-control">
                </div>
                <button type="submit" class="btn btn-marvel mb-5">Se Connecter
                </button>
            </form>
        </div>
{% endblock %}